In [2]:
import pandas as pd

In [6]:
Location = 'datasets/titanic3.xls'

In [7]:
df = pd.read_excel(Location)

In [8]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [9]:
df_no_missing = df.dropna()
df_no_missing.describe()

       pclass  survived  age  sibsp  parch  fare  body
count     0.0       0.0  0.0    0.0    0.0   0.0   0.0
mean      NaN       NaN  NaN    NaN    NaN   NaN   NaN
std       NaN       NaN  NaN    NaN    NaN   NaN   NaN
min       NaN       NaN  NaN    NaN    NaN   NaN   NaN
25%       NaN       NaN  NaN    NaN    NaN   NaN   NaN
50%       NaN       NaN  NaN    NaN    NaN   NaN   NaN
75%       NaN       NaN  NaN    NaN    NaN   NaN   NaN
max       NaN       NaN  NaN    NaN    NaN   NaN   NaN

In [14]:
# Bin by age
bins = [0,3,18,30,60,100]

In [15]:
group_name =['Infant', 'Child', 'Young', 'Middle age', 'Senior']

In [16]:
#Need to troubleshoot
df['age']=pd.cut(df['age'], bins, labels = group_name)

In [17]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,NaN,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,NaN,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,NaN,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,NaN,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,NaN,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [19]:
pd.crosstab(df.sex,df.survived).apply(lambda r: r/r.sum(), axis=1)

survived         0         1
sex
female    0.272532  0.727468
male      0.809015  0.190985

In [ ]:
#Survival rate much higher for females?

In [24]:
pd.crosstab(df.pclass,df.survived).apply(lambda r: r/r.sum(), axis=1)

survived         0         1
pclass
1         0.380805  0.619195
2         0.570397  0.429603
3         0.744711  0.255289

In [25]:
# Survival rate Section 1 > Section 2 > Section 3

In [26]:
pd.crosstab(df.sibsp,df.survived).apply(lambda r: r/r.sum(), axis=1)

survived         0         1
sibsp
0         0.653199  0.346801
1         0.489028  0.510972
2         0.547619  0.452381
3         0.700000  0.300000
4         0.863636  0.136364
5         1.000000  0.000000
8         1.000000  0.000000

In [27]:
# No obvious relationship would need to see sample size for sibsp = 3, 4, 5, and 8 to make any conclusions

In [30]:
pd.crosstab(df.fare,df.survived).apply(lambda r: r/r.sum(), axis=1)

survived         0         1
fare
0.0000    0.882353  0.117647
3.1708    0.000000  1.000000
4.0125    1.000000  0.000000
5.0000    1.000000  0.000000
6.2375    1.000000  0.000000
6.4375    1.000000  0.000000
6.4500    1.000000  0.000000
6.4958    1.000000  0.000000
6.7500    1.000000  0.000000
6.8583    1.000000  0.000000
6.9500    0.500000  0.500000
6.9750    0.500000  0.500000
7.0000    0.500000  0.500000
7.0458    1.000000  0.000000
7.0500    0.888889  0.111111
7.0542    1.000000  0.000000
7.1250    1.000000  0.000000
7.1417    0.000000  1.000000
7.2250    0.761905  0.238095
7.2292    0.708333  0.291667
7.2500    0.944444  0.055556
7.2833    1.000000  0.000000
7.3125    1.000000  0.000000
7.4958    0.666667  0.333333
7.5208    1.000000  0.000000
7.5500    0.750000  0.250000
7.5750    1.000000  0.000000
7.5792    0.000000  1.000000
7.6292    1.000000  0.000000
7.6500    0.500000  0.500000
...            ...       ...
82.1708   0.500000  0.500000
82.2667   0.000000  1.000000
83.1583   0.166667  0.833333
83.4750   0.500000  0.500000
86.5000   0.000000  1.000000
89.1042   0.000000  1.000000
90.0000   0.200000  0.800000
91.0792   0.000000  1.000000
93.5000   0.500000  0.500000
106.4250  0.333333  0.666667
108.9000  0.333333  0.666667
110.8833  0.250000  0.750000
113.2750  0.333333  0.666667
120.0000  0.000000  1.000000
133.6500  0.000000  1.000000
134.5000  0.000000  1.000000
135.6333  0.250000  0.750000
136.7792  0.500000  0.500000
146.5208  0.333333  0.666667
151.5500  0.500000  0.500000
153.4625  0.333333  0.666667
164.8667  0.250000  0.750000
211.3375  0.000000  1.000000
211.5000  0.600000  0.400000
221.7792  0.750000  0.250000
227.5250  0.400000  0.600000
247.5208  0.333333  0.666667
262.3750  0.142857  0.857143
263.0000  0.333333  0.666667
512.3292  0.000000  1.000000

[281 rows x 2 columns]

In [ ]:
# Need to bin fare by price to make it a manageable metric for analysis